<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../admintemp/head.ejs'); %>
</head>

<body>
    <div class="wrapper" data-background-color="dark">
        <%- include('../admintemp/header'); %>

            <div class="main-panel">
                <div class="main-header">
                    <%- include('../admintemp/main-header'); %>
                </div>
                <div class="container">
                    <div class="page-inner">

                    </div>
                </div>
            </div>
    </div>

    <%- include('../admintemp/script'); %>
</body>

</html>