<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../admintemp/head.ejs'); %>
         <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <style>
            #map {
                width: 100%;
                height: 80vh;
                position: relative;
            }
        </style>
</head>

<body>
    <div class="wrapper" data-background-color="dark">
        <%- include('../admintemp/header'); %>

            <div class="main-panel">
                <div class="main-header">
                    <%- include('../admintemp/main-header'); %>
                </div>
                <div class="container">
                    <div class="page-inner">
                        <div class="jumbotron">
                            <div class="map">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <%- include('../admintemp/script'); %>
          <script src=/asset/js/map2.js> </script>
</body>

</html>