<!-- Modal -->
<div class="modal fade" id="modalAlasan" tabindex="-1" aria-labelledby="modalAlasanLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAlasanLabel">Tuliskan alasan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-item">
          <label class="form-label my-3">Alasan<sup>*</sup></label>
          <textarea class="form-control" id="alasan" name="alasan" rows="5" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitAlasan" onclick="handleActionRejected()" data-bs-dismiss="modal">Kirim</button>
      </div>
    </div>
  </div>
</div>