<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../template/head.ejs'); %>
</head>

<body>
    <%- include('../template/header'); %>


        <footer>
            <%- include('../template/footer'); %>
        </footer>
        <%- include('../template/script'); %>
</body>

</html>