<!DOCTYPE html>
<html lang="id">

<head>
    <%- include('../template/head.ejs'); %>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
        <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
           <!-- Leaflet Search Plugin dari jsDelivr (stabil & work) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/2.9.8/leaflet-search.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-search/2.9.8/leaflet-search.src.min.js"></script>

        <style>
            #map {
                width: 100%;
                height: 80vh;
                position: relative;
            }
        </style>
</head>

<body>
    <%- include('../template/header'); %>
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">PETA UMKM</h1>
        </div>
        <!-- Single Page Header End -->
        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <h1 class="mb-4">PETA UMKM</h1>
                <div class="jumbotron">
                    <div class="map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <%- include('../template/footer'); %>
        </footer>
        <%- include('../template/script'); %>
        <script src=asset/js/map2.js> </script>
</body>

</html>